korisnik.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="korisnik">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="korisnickoIme" type="xs:string"/>
                <xs:element name="sifra" type="xs:string"/>
                <xs:element name="ime" type="xs:string"/>
                <xs:element name="prezime" type="xs:string"/>
                <xs:element name="korisnikJeSluzbenik" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
